/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* layout */

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.container .nav {
    display: flex;
    justify-content: space-between;
    background-color: #D8A31F;
}

.nav > *{
    padding: 5px;
}

.nav .nav__login{
    /* align-self: flex-end; */
    text-align: end;
}

.nav__logo, 
.nav__login{
    width: 20%;
}

.nav__link {
    width: 60%;
    text-align: center;
    border-left: 1px solid red;
    border-right: 1px solid red;
}

.top-box{
    max-width: 800px;
    min-height: 250px;
    margin: 0 auto;
    background-color: #b899e1;
}

/* style */
.header {
    padding: 8px 0px;
    background-color: #ADD8E6;
}

.top {
    padding: 30px;
    background-color: rgb(98, 107, 239);
}
/* debug */

.debug .container {
    border: 2px solid black;
}

.debug .top-box{
    border: 2px dashed black;
}