/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* layout */

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.container .nav {
    display: flex;
    justify-content: space-between;
    background-color: #D8A31F;
}

.nav > *{
    padding: 5px;
}

.nav .nav__login{
    /* align-self: flex-end; */
    text-align: end;
}

.nav__logo, 
.nav__login{
    width: 20%;
}

.nav__link {
    width: 60%;
    text-align: center;
    border-left: 1px solid red;
    border-right: 1px solid red;
}

.top-box{
    max-width: 800px;
    min-height: 250px;
    margin: 0 auto;
    background-color: #b899e1;
}

.col-60,.col-40{
    min-height: 300px;
}

.col-60{
    width: 60%;
    background-color: #1E90FF;
}

.col-40{
    width: 40%;
    border-left: 2px dashed black;
    background-color: rgb(0, 174, 113);
}

.container .row {
    display: flex;
}

.reverse .container .row{
    flex-direction: row-reverse;
}

.cube {
    min-height: 700px;
    background-color: salmon;
}


/* style */
.header {
    padding: 8px 0px;
    background-color: #ADD8E6;
}

.top {
    padding: 30px;
    background-color: rgb(98, 107, 239);
}
.reverse{
    background-color: #D3D3D3;
}

.content  {
    padding: 30px;
}

.reverse .container .row .col-40{
    border-right: 2px dashed black;
    border-left: none;
}
/* debug */

.debug .container, 
.debug .top-box {
    border: 2px dashed black;
}

